<div class="center hero-unit">
	<h1>Welcome to the Transaction Tracker</h1>
  <p>
      This is an open-source project by Joe Westersund to help him balance his checkbook.
  </p>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>