<div class="welcome">
  <h3>Welcome to Spending Tracker.</h3>

  <p>You can use this application to keep track of your spending and earning, by account and/or by spending category.</p>

  <p>Before you enter some transactions, I recommend that you set up some <%= link_to "spending categories", transaction_categories_path %> that you'd like to track,
  and some <%= link_to "accounts", accounts_path %> whose balances you're interested in tracking. A few default ones have been set up for you.</p>

  <p>Note: This app doesn't need to know any identifying financial information- you can use a simple name like "checking"
  or "credit card".</p>
</div>