<div class="welcome">
  <h3>Welcome to Transaction Tracker.</h3>

  <p>You can use this application to keep track of your spending and earning, by account and/or by spending category.</p>

  <p>Before you enter some transactions, I recommend that you set up some <%= link_to "spending categories", transaction_categories_path %> that you'd like to track,
  and some <%= link_to "accounts", accounts_path %> whose balances you're interested in tracking.</p>

  <p>This app doesn't need to know the actual account info or companies- you could just use a simple name like "checking"
  or "credit card".</p>
</div>