<table class="summary">
  <thead>
  <tr>
    <th></th>
    <% @table.column_headers.each do |ch| %>
      <th><%= ch.text %></th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% @table.row_headers.each_index do |index| %>
    <tr>
      <td class="row_header"><%= @table.row_headers[index].text %></td>
      <% @table.cells[index].each do |c| %>
        <td><%= number_to_currency(c.text) %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>