// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
  div.field > label {
    max-width: 150px; //limit width of labels, but only ones directly under the filter div. The Bootstrap dropdowns use labels
  }

  div.field {
    label {
      display: block;
      margin-bottom: 1px;
    }

    textarea {
      width: 300px;
    }

    input[type="number"] {
      width: 80px;
    }

    input[type="text"] {
      width: 300px;
    }

    input.email {
      width: 300px;
    }

    input.datepicker {
      width: 120px;
    }

  }

  div.actions {
    margin-top: 15px;
  }

  p {
    margin: 5px auto;
  }
}

.back-button {
  display: block;
}