
th, td {
  border-left: 1px black solid;
  padding: 2px 5px;
  text-align: center;
}

th {
  border-bottom: 1px black solid;
}

th:first-of-type, td:first-of-type {
  border-left: none;
}

.filter {

  border-bottom: 1px solid black;
  margin-bottom: 10px;

  div.field, div.actions {
    display: inline-block;
  }

  div.field.number input{
    width: 50px;
  }

}

.welcome p a, .about p a {
  color: blue;

  &:hover {
    text-decoration: underline;
    background-color: inherit;
  }
}